@model IEnumerable<WebApplication5.Models.NewsModel>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Навигатор</title>
    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->
    <!-- Custom CSS -->
    <!--<link href="css/full-slider.css" rel="stylesheet">-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">-->
    <!-- Plugin CSS -->
    <!--<link rel="stylesheet" href="css/animate.min.css" type="text/css">-->
    <!-- Custom CSS -->
    <!--<link rel="stylesheet" href="css/creative.css" type="text/css">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand page-scroll" href="#page-top">Навигатор</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li> <a class="page-scroll" href="#about">О центре</a> </li>-->
                    <li> <a class="page-scroll" href="services.html">Маркетинговые услуги</a> </li>
                    <li> <a class="page-scroll" href="#contact">Контакты</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Экономический дайджест Вологодской области "Навигатор"</h1>
                <hr>
                <p>информационно-развлекательный журнал с интересными и полезными для широкого круга читателей аналитическими и информационными материалами</p>
                <a href="#contact" class="btn btn-primary btn-xl page-scroll">Связь</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Узнать больше</a>
                <a href="#news" class="btn btn-primary btn-x1 page-scroll" style="padding: 15px 30px;">Новости</a>
                <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Архив</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Современный информационный продукт</h2>
                    <hr class="light">
                    <p class="text-faded">Навигатор - информационно-развлекательный журнал, отвечающий современным тенденциям полиграфии. Навигатор насыщен не только интересными, но и полезными аналитическими и информационными материалами для широко круга читателей.</p>
                    <p class="text-faded">Основная целевая аудитория - бизнес и менеджмент предприятий.</p>
                    <p class="text-faded">С лета 2015 журнал Навигатор изменил свою концепцию, и стал, по истине, областным изданием. Мы расширяем территорию распространения журнала и как следствие круг наших читателей.</p>
                    <p class="text-faded">Распространяется бесплатно: на всех бортах воздушных судов Авиапредприятия Северсталь, на заводоуправлениях ПАО "Северсталь", АО "Северсталь-метиз", АО «ФосАгро-Череповец», в Правительстве Вологодской области, мерии г. Вологды и г. Череповца, подведомственных организациях Департамента экномического развития Вологодской области, по адресной рассылке предприятиям Вологодской области</p>
                    <p class="text-faded">Читательская аудитория: более 10 000 человек на выпуск</p> <a href="#services" class="btn btn-default btn-xl page-scroll">Далее</a>
                </div>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="container">
            @foreach (var item in Model)
            {
            <div class="event">
                <h3>@Html.DisplayFor(modelItem => item.Header)</h3>
                <div class="news-body">
                    <div class="col-md-4">@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.bytes) + "\" />")</div>
                    <div class="col-md-8">
                        <p>@Html.DisplayFor(modelItem => item.Body)</p>
                        <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>
    <!-- end section news -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Темы и рубрики</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <!--<div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-plane wow bounceIn text-primary page-scroll" data-wow-delay=".2s"></a>
                        <h3>ТУР-НАВИГАТОР</h3>
                        <p class="text-muted">Интересные места, путешествия. Расписание и карта полетов Авиапредприятия «Северсталь». Информация для авиапассажиров.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-briefcase wow bounceIn text-primary page-scroll" data-wow-delay=".1s"></a>
                        <h3>БИЗНЕС-НАВИГАТОР</h3>
                        <p class="text-muted">Cтатьи об экономике региона, проектах, торговле; аналитические материалы по теме номера.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-heart wow bounceIn text-primary page-scroll"></a>
                        <h3>LIVE-НАВИГАТОР</h3>
                        <p class="text-muted">Только самое интересное: неизвестная история, технологии, уникальные люди, немного юмора.</p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-plane wow bounceIn text-primary page-scroll" data-wow-delay=".2s"></a>
                        <h3>ТУР-НАВИГАТОР</h3>
                        <p class="text-muted">Интересные места, путешествия. Расписание и карта полетов Авиапредприятия «Северсталь». Информация для авиапассажиров.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-briefcase wow bounceIn text-primary page-scroll" data-wow-delay=".1s"></a>
                        <h3>БИЗНЕС-НАВИГАТОР</h3>
                        <p class="text-muted">Cтатьи об экономике региона, проектах, торговле; аналитические материалы по теме номера.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <a class="fa fa-4x fa-heart wow bounceIn text-primary page-scroll"></a>
                        <h3>LIVE-НАВИГАТОР</h3>
                        <p class="text-muted">Только самое интересное: неизвестная история, технологии, уникальные люди, немного юмора.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center"> <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Архив</a> </div>
    </section>
    <!-- end services -->
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N7(13).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N7(13).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 7 (13) НОЯБРЬ 2016 - ЯНВАРЬ 2017 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N6(12).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N6(12).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 6 (12) АВГУСТ - СЕНТЯБРЬ 2016 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N5(11).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N5(11).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 5 (11) МАЙ - ИЮЛЬ 2016 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N4(10).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N10(1).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 4 (10) МАРТ - АПРЕЛЬ 2016 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N3(9).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N3(9).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 3 (9) ДЕКАБРЬ - ФЕВРАЛЬ 2016 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(8).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(8).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 2 (8) ОКТЯБРЬ - ДЕКАБРЬ 2015 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(7).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(7).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (7) ИЮЛЬ - СЕНТЯБРЬ 2015 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(6).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(6).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (6) ДЕКАБРЬ 2014 - ФЕВРАЛЬ 2015 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(5).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(5).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (5) СЕНТЯБРЬ - НОЯБРЬ 2014 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(4).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(4).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (4) ИЮЛЬ - АВГУСТ 2014 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(3).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(3).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (3) АПРЕЛЬ - ИЮНЬ 2014 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(2).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(2).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (2) ДЕКАБРЬ 2013 - ФЕВРАЛЬ 2014 </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/Content/Images/N1(1).pdf" class="portfolio-box">
                        <img src="~/Content/Images/N1(1).png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded"> Экономический дайджест Вологодской области </div>
                                <div class="project-name"> № 1 (1) СЕНТЯБРЬ - НОЯБРЬ 2013 </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center"> <a href="#contact" class="btn btn-primary btn-xl page-scroll">Размещение рекламы</a> </div>
    </section>
    <!-- end portfolio -->
    <section id="stuff">
        <div class="container">
            <div class="row workers">
                <div class="col-md-4">
                    <div class="row" style="margin: 10px 20px;">
                        <div>
                            <p class="text-center">Главный редактор</p>
                            <img src="~/Content/Images/Boss.png" class="img-circle">
                        </div>
                        <div class="text-center" style="margin-top: 20px">
                            <p class="name">Кирилл Матвеев</p>
                            <p class="tel">+7-(911)-506-0601</p>
                            <p class="email">export.vologda@gmail.com</p>
                        </div>
                        <!--<div class="col-md-6">
                            <img src="img/Boss.jpg" />
                        </div>
                        <div class="col-md-6">
                            <p class="name">Кирилл Матвеев</p>
                            <p class="tel">+7-(911)-506-0601</p>
                            <p class="email">export.vologda@gmail.com</p>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin: 10px 20px;">
                        <div>
                            <p class="text-center">Менеджер по рекламе</p>
                            <img src="~/Content/Images/Kate.png" class="img-circle">
                        </div>
                        <div class="text-center" style="margin-top: 20px">
                            <p class="name">Екатерина Манюкова</p>
                            <p class="email">Ekatrin17@yandex.ru</p>
                        </div>
                        <!--<div class="col-md-6">
                            <img src="img/Kate.jpg" />
                        </div>
                        <div class="col-md-6">
                            <p class="name">Екатерина Манюкова</p>
                            <p class="email">Ekatrin17@yandex.ru</p>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row" style="margin: 10px 20px;">
                        <div>
                            <p class="text-center">Коммерческий директор</p>
                            <img src="~/Content/Images/Elena.png" class="img-circle">
                        </div>
                        <div class="text-center" style="margin-top:20px">
                            <p class="name">Елена Гаврикова</p>
                            <p class="email">reklama.navigator35@gmail.com</p>
                        </div>
                        <!--<div class="col-md-6">
                            <img src="img/Elena.jpg">
                        </div>
                        <div class="col-md-6">
                            <p class="name">Елена Гаврикова</p>
                            <p class="email">reklama.navigator35@gmail.com</p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Навигатор - идеальная площадка для размещения B2B рекламы!</h2>
                    <hr class="primary">
                    <p>Экономический дайджест Вологодской области "Навигатор"</p>
                    <p>162600, г. Череповец, ул. Вичеловская, д. 18</p>
                    <p>Свидетельство о регистрации: ПИ № ТУ35-00182 выдано 27 апреля 2015 года Управлением Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Вологодской области</p>
                    <p>Главный редактор Матвеев Кирилл Александрович</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Размещение рекламы:</h2>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>+7(911)506-06-01</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:export.vologda@gmail.com">export.vologda@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center"><a href="#page-top" class="btn btn-primary btn-xl page-scroll">В начало</a></div>
    </section>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; NAVIGATOR35 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- jQuery -->
    <script src="~/Scripts/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
    <!-- Plugin JavaScript -->
    <script src="~/Scripts/js/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/jquery.fittext.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/js/creative.js"></script>
</body>
</html>
<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
